.containerA {
    width: 1520px;
    height: 2260px;
    background-color: rgb(11, 6, 41);
    position: absolute;
    top: 0px;
    left: 0px;
}

.beijing {
    width: 1520px;
    height: 720px;
}

.BOS {
    width: 600px;
    height: 200px;
    color: rgb(0, 0, 0);
    font: bold 50px Helvetica;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 490px;
}

.GCZ {
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 25px;
    width: 230px;
    height: 30px;
    background-color: #fdfdfd;
    padding: 4px 0px 0px;
    position: absolute;
    top: 350px;
    left: 660px;
}

.PI {
    color: rgb(92, 6, 6);
    width: 700PX;
    height: 80PX;
    text-align: center;
    position: absolute;
    top: 470px;
    left: 430px;
}

.biaoA {
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 40px;
    border-radius: 25px;
    width: 220px;
    height: 40px;
    background-color: #c2c2c2;
    position: absolute;
    top: 650px;
    left: 200px;
}

.biaoB {
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 40px;
    border-radius: 25px;
    width: 220px;
    height: 40px;
    background-color: #c2c2c2;
    position: absolute;
    top: 650px;
    left: 670px;
}

.biaoC {
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 40px;
    border-radius: 25px;
    width: 220px;
    height: 40px;
    background-color: #c2c2c2;
    padding: 4px 0px 0px;
    position: absolute;
    top: 650px;
    left: 1150px;
}

.containerB {
    width: 1520px;
    height: 720px;
    background-color: rgb(143, 217, 240);
    position: absolute;
    top: 720px;
    left: 0px;
    z-index: -10px auto;
}

.diseA {
    width: 1420px;
    height: 690px;
    background-color: rgb(255, 255, 255);
    z-index: 3px;
    position: absolute;
    top: 15px;
    left: 50px;
}

.bin {
    width: 230px;
    height: 550px;
    position: absolute;
    top: 60px;
    left: 100px;
    z-index: 2px;
}

.xia {
    width: 230px;
    height: 550px;
    position: absolute;
    top: 120px;
    left: 440px;
    z-index: 2px;
}

.qiu {
    width: 230px;
    height: 550px;
    position: absolute;
    top: 60px;
    left: 780px;
    z-index: 2px;
}

.bby {
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 25px;
    width: 200px;
    height: 30px;
    background-color: #c2c2c2;
    position: relative;
    top: 110px;
    left: 1145px;
}

.like {
    width: 240px;
    height: 400px;
    color: #000;
    background-color: rgb(171, 230, 245);
    text-align: center;
    line-height: 25PX;
    position: absolute;
    top: 220px;
    left: 1130px;
}

.containerC {
    width: 1520px;
    height: 820px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 1440px;
    left: 0px;
}

.diseB {
    width: 1420px;
    height: 690px;
    background-color: rgb(143, 217, 240);
    z-index: 3px;
    position: absolute;
    top: 15px;
    left: 50px;
}

.LUS {
    color: rgb(255, 255, 255);
    background-color: rgb(43, 44, 107);
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 25px;
    position: relative;
    top: 30px;
    left: 680px;
}

.chaA {
    width: 200px;
    height: 240px;
    position: absolute;
    top: 100px;
    left: 330px;
}

a img:hover {
    transition: all 2s;
    transform: scale(1.2);
}

.chaA {
    animation: dongtaiA 5s linear infinite alternate;
}

@keyframes dongtaiA {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(155px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.chaB {}

.chaC {
    animation: dongtaiB 5s linear infinite alternate;
}

@keyframes dongtaiB {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-155px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.STNL {
    animation: dongtaiC 5s linear infinite alternate;
}

@keyframes dongtaiC {
    0% {
        transform: translate(0px, 50px);
    }
    50% {
        transform: translate(0px, -50px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.db {
    animation: dongtaiD 5s linear infinite alternate;
}

@keyframes dongtaiD {
    0% {
        transform: translate(0px, 50px);
    }
    50% {
        transform: translate(0px, -50px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

li:hover {
    transform: all 2s;
    transform: scale(1.2);
}

.chaB {
    width: 200px;
    height: 240px;
    position: absolute;
    top: 100px;
    left: 680px;
}

.chaC {
    width: 200px;
    height: 240px;
    position: absolute;
    top: 100px;
    left: 1030px;
}

.LW {
    color: rgb(255, 255, 255);
    background-color: rgb(43, 44, 107);
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    top: 380px;
    left: 680px;
}

.STNL {
    width: 240px;
    height: 180px;
    position: absolute;
    top: 450px;
    left: 280px;
}

.FM {
    width: 140px;
    height: 190px;
    position: absolute;
    top: 450px;
    left: 710px;
}

.db {
    width: 240px;
    height: 180px;
    position: absolute;
    top: 450px;
    left: 1030px;
}

.daohang {
    width: 50px;
    height: 270px;
    text-align: center;
    background-color: #fff;
    position: fixed;
    top: 200px;
    z-index: 999;
}

.shou {
    list-style-type: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: -500px;
}

.xing {
    list-style-type: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 110px;
    left: 0px;
    z-index: -500px;
}

.zuo {
    list-style-type: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 190px;
    left: 0px;
    z-index: -500px;
}

.weizhu {
    width: 1420px;
    height: 60px;
    text-align: center;
    border: 3px solid #c0c0c0;
    border-radius: 30px;
    position: absolute;
    top: 730px;
    left: 50px;
}

.QQ {
    position: absolute;
    top: 12px;
    left: 1150px;
}

.WX {
    position: absolute;
    top: 12px;
    left: 1245px;
}

.WB {
    position: absolute;
    TOP: 12px;
    left: 1340px;
}

.XM {
    width: 200px;
    height: 40px;
    color: #000;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 685px;
}

.LG {
    width: 40px;
    height: 40px;
    color: #000;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 80px;
}

.WM {
    width: 150px;
    height: 40px;
    color: #000;
    position: absolute;
    top: 0px;
    left: 130px;
}